#想要把第一個 CSV 檔讀入

In [11]:
import pandas as pd

df = pd.read_csv('FirstTest.csv')

df.head()

FileNotFoundError: [Errno 2] No such file or directory: '109.csv'

In [2]:
temp = df[['Complex2Name', 'FValue']]
temp

   Complex2Name   FValue
0           NaN  4233275
1           NaN  2231696
2           NaN  7219409
3          經常支出  4216055
4          經常支出  2129704
5          經常支出  5917663
6          資本支出   193089
7          資本支出   101992
8          資本支出  2037579
9          償還借款        0
10         償還借款        0
11         償還借款   228382
12     經常支出報廢金額        0
13     經常支出報廢金額        0
14          NaN  4631696
15          NaN  2205193
16          NaN  7185789
17         經常支出  4362823
18         經常支出  2084315
19         經常支出  5934732
20         資本支出   209431
21         資本支出    60252
22         資本支出  2111732
23         償還借款        0
24         償還借款        0
25         償還借款   341616
26     經常支出報廢金額   152212
27     折舊、折耗及攤銷   465977
28     折舊、折耗及攤銷        0
29     折舊、折耗及攤銷        0
30     經常支出報廢金額        0
31     經常支出報廢金額        0
32     經常支出報廢金額   382575
33     折舊、折耗及攤銷   481232
34     折舊、折耗及攤銷        0
35     折舊、折耗及攤銷        0

In [3]:
Type = temp.groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [4]:
Type['year'] = 2015
Type

  Complex2Name    FValue  year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015

#讀入 2016 ~ 2018 年的預算資料

In [5]:
df2016 = pd.read_csv('2016.csv')
df2017 = pd.read_csv('2017.csv')
df2018 = pd.read_csv('2018.csv')

In [6]:
new = df2016[['Complex2Name', 'FValue']].groupby(['Complex2Name'])['FValue'].sum().reset_index()

In [7]:
new['year'] = 2016

In [8]:
new

  Complex2Name    FValue  year
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016

In [9]:
frames = [Type, new]

result = pd.concat(frames)

In [10]:
result

  Complex2Name    FValue  year
0         償還借款    569998  2015
1     折舊、折耗及攤銷    947209  2015
2         經常支出  24645292  2015
3     經常支出報廢金額    534787  2015
4         資本支出   4714075  2015
0         償還借款   1014559  2016
1     折舊、折耗及攤銷    975539  2016
2         經常支出  24209205  2016
3     經常支出報廢金額    357410  2016
4         資本支出   5365361  2016